@{
    ViewData["Title"] = "Home Page";


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn-outline-primary" asp-area="" asp-controller="Store" asp-action="Create">Create an Account</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<button class="btn-outline-primary"><a class="btn" asp-area="" asp-controller="Store" asp-action="Create"></a>Create an account</button>
<button class="btn-outline-secondary"><a class="btn" asp-area="" asp-controller="Store" asp-action="CustomerList">Login</a></button>
