@model ModelsLibrary.Customer
@{
    ViewData["Title"] = "Home Page";


}


<!-- Form to login with customer credentials-->

<div class="col-md-4">
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="LastName">Enter Last Name&nbsp;</label>
            <input type="text" id="lastName" name="LastName"/>
        </div>

        <div class="form-group">
            <label asp-for="Password">Enter Password&nbsp;&nbsp;&nbsp;</label>
            <input type="password" id="password" name="Password"/>
        </div>
        <div>
            <a class="btn-outline-primary" asp-area="" asp-controller="Store" asp-action="Create">Create an Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <input type="submit" asp-controller="Store" asp-action="Login"/>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="token_generated_here" />
    </form>
</div>




