@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Item List";
}

<h2>Item List</h2>
<p>Hello from your Item View Template!</p>

<body>
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Item" asp-action="StoreNums">Select Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</body>
